*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
.btn{
    background-color:#FD6E0A;
    padding:10px 15px;
    border-radius: 5px;
    color: #fff;
}

.btn:hover{
    background-color: #fff;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    position: relative;
}

/* -------------Navigation Style------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style-type: none;
    margin-left: 35px;
}

nav a{
    text-decoration: none;
    color: #000000;
}
nav h1{
    font-size: 45px;
}
nav h1 span{
    color: #FD6E0A;
}

/* -------------Header Style------- */
.header{
    border-color: #FFF8F3;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 0px 180px;
    background-image: url("../images/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
.banner-text h4{
    font-size: 45px;
}
.banner-text h1{
    font-size: 85px;
    font-weight: bold;
}

.banner-text p{
    margin-bottom: 30px;
    width: 600px;
}

.banner-image img{
    width: 300px;
}

/* -------------Main section Style------- */

/* -------------About section Style------- */
.about{
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
    border-radius: 10px;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.about-description{
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}

.what-i-do h3{
    text-align: center;
}


.what-i-do p{
    padding: 20px 130px;
}

.sills-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}